<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641694963467-94d34i4elojel98umt80ch8vd7dshcri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641694963467-94d34i4elojel98umt80ch8vd7dshcri</string>
	<key>API_KEY</key>
	<string>AIzaSyD-twaTjwPi1gg2fxKhOWQIjJ2vPxwbenY</string>
	<key>GCM_SENDER_ID</key>
	<string>641694963467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.addmultiproduct</string>
	<key>PROJECT_ID</key>
	<string>addmultiproductdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>addmultiproductdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641694963467:ios:a7edd620d2fe8f69a1f40e</string>
</dict>
</plist>